<!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="after">
     <button mat-menu-item> -->
    <!-- <ng-container *ngFor="let menus of menuItem">
        <button mat-menu-item>{{menus.label}}</button>
    </ng-container> -->
      <!-- <mat-icon></mat-icon>
      <i class="fi fi-ro-square-right"></i>
      <span>Redial</span>
    </button> --> 
    <header class="sticky">
      <div class="container">
        <div class="logo">
          <!-- Place your logo here -->
          <img src="path/to/your/logo.png" alt="Logo">
        </div>
        <nav>
          <ul class="menu">
            <!-- Add your menu items here -->
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li class="dropdown">
              <a href="#" class="dropbtn">Dropdown</a>
              <div class="dropdown-content">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
              </div>
            </li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    
    
    
  
  