<footer class="footer-style-ten theme-basic-footer zn2 position-relative footer-all">


  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30" fxFlex.md="25" fxFlex.sm="50" class="mb-40">
        <div class="logo">
          <a href="index.php">
            <img src="https://www.learntos.com/images/logo/footer_logo.png" alt="learntos" height="90">
          </a>
        </div>
        <p class="text-white opacity-75 fs-18 mt-15 mb-45 lg-mb-10 phone-email">Phone –
          <a href="tel:+917907086372">+91 7907086372</a><br>
          <a href="tel:+919633388675" style="margin-left:75px;">+91 9633388675</a>
        </p>
        <p class="text-white opacity-75 fs-18 phone-email" style="margin-top:30px">
          Email – <a href="mailto:info@learntos.com">info@learntos.com</a>
        </p>
        
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top:30px">
          <a href="https://play.google.com/store/apps/details?id=co.lynde.hjfgi" target="_blank">
            <img src="https://www.learntos.com/images/footer/playstore.png" alt="learntos" style="width: 100px;">
          </a>
          <a href="https://apps.apple.com/in/app/myinstitute/id1472483563" target="_blank">
            <img src="https://www.learntos.com/images/footer/appstore.png" alt="learntos" style="width: 100px;">
          </a>
        </div>
      </div>

      <div fxFlex="25" fxFlex.md="25" fxFlex.sm="50" class="mb-30">
        <h2 class="footer-title text-white fw-500" style="color: antiquewhite;padding-left: 40px;">Links</h2>
        <ul class="footer-nav-link style-none">
          <li><a href="index.php">Home</a></li>
          <li><a href="about-us">About us</a></li>
          <li><a href="salesforce-certification-training-course">Courses</a></li>
          <li><a href="contact-us">Contact Us</a></li>
          <li><a href="https://web.classplusapp.com/">Login</a></li>
          <li><a href="https://cms.classplusapp.com/">Test Login</a></li>
        </ul>
      </div>

      <div fxFlex="25" fxFlex.md="25" fxFlex.sm="50" class="mb-30" style="margin-right: 100px;">
        <h2 class="footer-title text-white fw-500" style="color: antiquewhite;padding-left: 40px;">Courses</h2>
        <ul class="footer-nav-link style-none">
          <li><a routerLink="/salesforce-certification-training-course">Salesforce Certification Training</a></li>
          <li><a routerLink="/angular-certification-training-course">Angular Certification Training</a></li>
          <li><a routerLink="/foreign-language-training-course">Foreign Language Training</a></li>
          <li><a routerLink="/IoT-certification-training-on-Azure">IoT Certification Training on Azure</a></li>
          <li><a routerLink="/microsoft-power-BI-certification-training-course">Microsoft Power BI Certification Training</a></li>
          <li><a routerLink="/selenium-certification-training-course">Selenium Certification Training</a></li>
          <li><a routerLink="/web-developer-certification-training-course">Web Developer Certification Training</a></li>
        </ul>
        
      </div>

      <div fxFlex="20" fxFlex.md="25" fxFlex.sm="50" class="mb-30">
        <h2 class="footer-title text-white fw-500" style="color: antiquewhite;">Address</h2>
        
        <p class="text-white opacity-75 mb-35" style="color:rgba(255,255,255,.7);margin-right: 100px;font-size: 20px">
          Rowdha Tower
          Passport Office Building
          Near Thrissur Railway Station
          Thrissur, Kerala
        </p>
      
        <ul class="d-flex social-icon style-none">
          <li><a href="https://www.facebook.com/learntos/" target="_blank"><mat-icon>facebook</mat-icon></a></li>
          <li><a href="https://www.instagram.com/learntosdotcom/" target="_blank"><mat-icon class="fab fa-instagram" style="font-size: 24px; color: red;">Instagram</mat-icon>
          </a></li>
          <li><a href="https://www.linkedin.com/company/learntos/" target="_blank"><mat-icon>linkedin</mat-icon></a></li>
          
        </ul>
        
      </div>
    </div>

    <p class="text-white opacity-50 fs-15 m0 text-center d-block d-lg-none lg-mt-50">
      © 2023 Learntos. All Rights Reserved. Designed By
      <a href="https://atomlogics.com" target="_blank">Atomlogics</a>.
    </p>

    <!-- <div class="col-12">
      <p class="text-white opacity-50 fs-15 m0 d-none d-lg-block">
        © 2023 Learntos. All Rights Reserved. Designed By
        <a href="https://atomlogics.com" target="_blank">Atomlogics</a>
      </p>
    </div> -->
  </div>

  <!--<img src="images/lazy.svg" data-src="images/assets/ils_13.png" alt="" class="lazy-img illustration-one wow fadeInRight">

  <img src="images/lazy.svg" data-src="images/assets/ils_14.png" alt="" class="lazy-img illustration-two wow fadeInLeft">-->
  <div class="watsapp_img1">
    <a href="https://web.whatsapp.com/send?phone=+917907086372" target="_blank" title="WhatsApp Now!"><img src="https://www.learntos.com/images/call3.gif" style="width: 75px;"></a>
    <button mat-icon-button class="scroll-top" (click)="scrollToTop()" style="margin-left: 1200px;margin-bottom: 50px;">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-raised-button class="open-button" id="form-btn" (click)="toggleForm()">Drop us a Query</button>

    <mat-card *ngIf="isFormOpen" class="form-popup" id="enquiryForm">
  <mat-card-header>
    <div mat-card-avatar>
      <img src="https://www.learntos.com/images/closed.png" (click)="closeForm()" style="right: 15px;top: -10px;cursor: pointer;width: 40px;height: 40px;">
    </div>
    <mat-card-title>Drop us a Query</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form-container" method="post">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter Email" name="email" required class="drop-input-email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text" placeholder="Enter Number" name="phone" required class="drop-input-text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="How can I help?" name="message" required class="drop-input-textarea"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="btn" name="send">Send</button>
      <!-- <button mat-button class="btn cancel">Close</button> -->
    </form>
  </mat-card-content>
</mat-card>

  </div>

  
  
  <!-- <button mat-raised-button color="primary" (click)="openForm()">Drop us a Query</button> -->


  <!-- <button class="open-button" id="form-btn" onclick="openForm()" style="margin-left: 1000px;">Drop us a Query</button> -->
  <!-- <button mat-raised-button color="primary" (click)="openForm()">Drop us a Query</button>

  <div class="form-popup" id="enquiryForm" *ngIf="showForm">
    <img id="closed" src="images/closed.png" (click)="closeForm()">
    <form action="" class="form-container" method="post">
      <h3 class="text-center form-h3">Drop us a Query</h3>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter Email" name="email" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput type="text" placeholder="Enter Number" name="phone" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="How can I help?" name="message" required></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" name="send">Send</button>
    </form>
  </div> -->
</footer>







