<footer>
  <mat-toolbar color="primary" class="footer-style-ten theme-basic-footer zn2 position-relative footer-all">
    <div class="container">
      <div class="inner-wrapper">
        <div class="row justify-content-between align-items-start">
          <div class="col-lg-3 footer-intro mb-40">
            <div class="logo">
              <a routerLink="/"><img src="https://www.learntos.com/images/logo/footer_logo.png" alt="learntos" height="90"></a>
            </div>
            <p class="text-white opacity-75 fs-18 mt-15 mb-45 lg-mb-10">
              Phone – <a href="tel:+917907086372">+91 7907086372</a><br>
              <a href="tel:+919633388675" style="margin-left:75px;">+91 9633388675</a>
            </p>
            <p class="text-white opacity-75 fs-18" style="margin-top:30px">Email – <a href="mailto:info@learntos.com">info@learntos.com</a></p>
            <ul class="d-flex style-none app-store-icons" style="margin-top:30px">
              <li><a href="https://play.google.com/store/apps/details?id=co.lynde.hjfgi" target="_blank"><img src="https://www.learntos.com/images/footer/playstore.png" alt="learntos" style="width: 100px;"></a></li>
              <li style="margin-left:30px"><a href="https://apps.apple.com/in/app/myinstitute/id1472483563" target="_blank"><img src="https://www.learntos.com/images/footer/appstore.png" alt="learntos" style="width: 100px;"></a></li>
            </ul>
            
          </div>

          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
                <h5 class="footer-title text-white fw-500">Links</h5>
                <ul class="footer-nav-link style-none">
                  <li><a routerLink="/">Home</a></li>
                  <li><a routerLink="/about-us">About us</a></li>
                  <li><a routerLink="/courses">Courses</a></li>
                  <li><a routerLink="/contact-us">Contact Us</a></li>
                  <li><a href="https://web.classplusapp.com/">Login</a></li>
                  <li><a href="https://cms.classplusapp.com/">Test Login</a></li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
                <h5 class="footer-title text-white fw-500">Courses</h5>
                <ul class="footer-nav-link style-none">
                  <li><a routerLink="/salesforce-certification-training-course">Salesforce Certification Training</a></li>
                  <li><a routerLink="/angular-certification-training-course">Angular Certification Training</a></li>
                  <li><a routerLink="/foreign-language-training-course">Foreign Language Training</a></li>
                  <li><a routerLink="/IoT-certification-training-on-Azure">IoT Certification Training on Azure</a></li>
                  <li><a routerLink="/microsoft-power-BI-certification-training-course">Microsoft Power BI Certification Training</a></li>
                  <li><a routerLink="/selenium-certification-training-course">Selenium Certification Training</a></li>
                  <li><a routerLink="/web-developer-certification-training-course">Web Developer Certification Training</a></li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-12 mb-30">
                <h5 class="footer-title text-white fw-500">Address</h5>
                <p class="text-white opacity-75 mb-35">Rowdha Tower<br>
                  Passport Office Building<br>
                  Near Thrissur Railway Station<br>
                  Thrissur, Kerala</p>
                <ul class="d-flex social-icon style-none">
                  <li><a href="https://www.facebook.com/learntos/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://www.instagram.com/learntosdotcom/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/learntos/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <p class="text-white opacity-50 fs-15 m0 text-center d-block d-lg-none lg-mt-50">© 2023 Learntos. All Rights Reserved. Designed By <a href="https://atomlogics.com" target="_blank">Atomlogics</a>.</p>
</footer>


